{% extends 'catalog/base.html' %}

{% load media_path %}
{% block content%}
<div class="col-12 mb-5">
  <a class="btn btn-outline-primary" href="{% url 'catalog:product_create' %}">Добавить продукт</a>
</div>
<div class="container">
  <div class="row text-center">
    {% for object in products %}
    <div class="col-3">
      <div class="card mb-4 box-shadow">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ object.name_prod }}</h3>
            <h4 class="card-title pricing-card-title">${{ object.price_prod }}</h4>
            {% if object.img_prod %}
            <img src="{{ object.img_prod|mediapath }}" alt="{{ object.name_prod }}" class="img-fluid">
            {% endif %}
            <p class="card-text">{{ object.description_prod|truncatechars:100 }}</p>
            <p class="card-text">{{ product.text|truncatechars:100 }}</p>
            <a href="{% url 'catalog:product_detail' object.pk %}" class="btn btn-outline-info">о товаре</a>
            <a href="{% url 'catalog:product_edit' object.pk %}" type="button" class="btn btn-outline-info">изменить</a>
            <a href="{% url 'catalog:delete' object.pk %}" type="button" class="btn btn-outline-info">удалить</a>
          </div>

        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:"4" and not forloop.last %}
  </div>
  <div class="row text-center">
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
