{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>{{ product.name_prod }}</h1>
            <p>{{ product.description_prod }}</p>
            <p>{{ product.category }}</p>
            <p>{{ version.name }}</p>
            <p>{{ version.is_active }}</p>
            <p>{{ version.number }}</p>
            <div class="card-footer">
                {% for version in product.version_set.all %}
                    {%if version.is_active %}
                    <p>Номер активной версии: {{ version.number }}<br>
                        Название: {{ version.name }}</p>
                    {% else  %}
                    <p>Номер активной версии: _____ <br>
                        Название: нет активной версии </p>
                    {% endif %}
                {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
