{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>{{ product.name_prod }}</h1>
            <p>{{ product.description_prod }}</p>
            <p>{{ product.category }}</p>
            <p>{{ version.name }}</p>
            <p>{{ version.is_active }}</p>
            <p>{{ version.number }}</p>
            <div class="card-footer">
                {% if active_version_name %}
                <p>Номер активной версии: {{ active_version_number }}<br>
                    Название: {{ active_version_name }}</p>
                {% else  %}
                <p>Номер активной версии: _____ <br>
                    Название: нет активной версии </p>
                {% endif %}

        </div>
    </div>
</div>
{% endblock %}
